<div class="card">
    <div class="card-body">
      <h5 class="card-title">Profile page</h5>
      <p class="card-text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nostrum, placeat accusantium libero
        ut soluta alias. Animi alias id doloremque ullam. Molestiae sit magnam excepturi debitis, et explicabo, vitae
        porro praesentium temporibus quibusdam, voluptate ipsam consequuntur cumque natus dolorem? Et recusandae labore
        voluptate sapiente nisi vitae, porro ipsa. Omnis sapiente nihil consequatur fugit nemo sit soluta nobis! Eius odit
        sequi, repudiandae sunt adipisci ea quas unde beatae delectus labore odio natus libero incidunt dignissimos
        necessitatibus accusamus esse nulla quo illo consectetur illum ducimus facere sed. A dolorem nam voluptas.
        Laudantium eos expedita voluptates animi recusandae, error alias aut temporibus ab, reiciendis sapiente porro
        nihil perspiciatis eum nobis cumque necessitatibus id tenetur soluta in similique, minus quaerat. Numquam, ullam
        nobis eveniet id perferendis molestias, sint ipsum quas in exercitationem quae totam, deleniti tenetur
        voluptatibus ea sapiente dolorem ipsam debitis. Ut fuga qui dicta quidem doloribus illo ducimus praesentium
        repudiandae dolorem! Dolor, enim quae? Recusandae debitis voluptate sapiente sunt voluptates et optio, totam sit
        esse deleniti hic officiis labore aperiam suscipit velit nostrum, vel eaque aliquam ab magnam ullam. Fugit ad
        voluptatem ipsam esse distinctio consequuntur. Vel libero aliquam et cumque vitae at consectetur quaerat maxime,
        fugit, dicta aspernatur ullam laboriosam eos repudiandae. Commodi quae dolorum quibusdam iusto eveniet voluptatem
        fugiat eius asperiores nostrum aperiam repellendus corrupti sed vel impedit distinctio aspernatur illo, soluta,
        est ullam! Ipsam, sint veniam fuga voluptates velit, maiores voluptatibus repudiandae quos impedit explicabo
        minima, optio deleniti quia iusto rerum corrupti reprehenderit? Ad nisi reprehenderit nulla delectus, at nesciunt
        tenetur obcaecati adipisci aliquid doloremque nam quasi nihil dolorem, quis qui itaque aliquam maiores? Ut modi
        ipsa adipisci, optio consectetur hic itaque provident quae illo labore error quis obcaecati quisquam voluptatum
        sapiente, sequi amet iure odio dolorum explicabo nihil iusto excepturi a suscipit? Quo soluta nihil ea
        accusantium, reiciendis culpa temporibus possimus dolores animi? Doloribus, reprehenderit? Accusantium aliquam
        reiciendis nam cupiditate cum hic quaerat consequatur recusandae, reprehenderit soluta commodi ullam odio officia
        culpa quo tenetur perspiciatis placeat voluptatum. Iusto ad optio necessitatibus veritatis magni quae saepe
        explicabo dolorum sunt iure, dolor fugiat quo earum recusandae ratione, tempore ducimus? Fugiat dolore praesentium
        debitis veritatis autem repellat est deleniti asperiores vel sapiente magni suscipit ea aspernatur a voluptatum
        obcaecati repellendus laboriosam ut minima temporibus, ratione reiciendis tempore pariatur eligendi. Aliquid non
        quos sit sint itaque labore architecto sapiente eaque provident. Rerum suscipit debitis eos quod, sequi doloribus
        architecto officiis neque ipsam maiores! Quod dignissimos asperiores repellendus recusandae? Ipsam, similique
        veniam. Minus vitae aut excepturi saepe necessitatibus ipsam pariatur id nobis nisi, blanditiis recusandae, sunt
        vel reprehenderit? Porro, aliquam! Molestias ratione, obcaecati nulla iusto enim nemo natus, deleniti consectetur
        nesciunt ducimus repellat omnis aliquid? Amet eveniet molestiae magnam totam quam hic sapiente quaerat enim eum
        natus labore odit laudantium consequatur, magni nisi fugit quae nobis, accusantium fugiat in corrupti ut
        temporibus?  </p>
    </div>
  </div>
  
